body {
	background-color: ivory;
}

nav {
	background-color: palegoldenrod;
	max-width: 1010px;
	margin: auto;
	font-size:1em;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	text-decoration: underline;
	font-family: 'Caladea', serif;
}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 1rem;
	background-color: aliceblue;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Caladea', serif;
	font-size:2em;

}

h2 {
	display: flex;
	justify-content: center;
	font-family: 'Caladea', sans-serif;
	font-size: 1.5em;
}

p {
	display: flex;
	justify-content: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}

.list-picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-credit {
	justify-content: flex-end;
	font-size:0.5em;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

footer {
	
	background-color: palegoldenrod;
	max-width: 3000px;
	font-size: 0.75em;
}

@media screen and (max-width: 555px){

body {
	background-color: white;
		
}
	}

main {
	width: 100%
}

img {
		align-items: center;
	width: 50%;
	}

@media screen and (max-width:800px){
	body{background-color: white;
	}
	main {
	width: 100%
}

img {
		align-items: center;
	width: 50%;
	}

}