body {
	background-color: ivory;
}

nav {
	background-color: palegoldenrod;
	max-width: 1010px;
	margin: auto;
	font-size:1em;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	text-decoration: underline;
}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 1rem;
}

h1 {
	display: flex;
	justify-content: center;

}


.list-picture img{
	display: flex;
	flex-direction: column;
	justify-content:center;


}


@media screen and (max-width: 555px){

body {
	background-color: white;
		
}
	}

main {
	width: 100%
}

img {
		align-items: center;
	width: 100%;
	}

@media screen and (max-width:800px){
	body{background-color: white;
	}
	main {
	width: 100%
}

img {
		align-items: center;
	width: 100%;
	}

}