
body {
	background-color: ivory;
}

nav {
	background-color: palegoldenrod;
	max-width: 1000px;
	margin: auto;
	font-size:1em;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	text-decoration: underline;
}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 1.2rem;
	justify-content: center;
	background-color: aliceblue;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Caladea', serif;
	font-size:1.5em;
}

h2 {
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}

p {
	display: flex;
	justify-content: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}

p ul li a {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}

footer {
	display: flex;
	background-color: palegoldenrod;
	max-width: 3000px;
	font-size: 0.75em;
	justify-content: center;
}

.headshot {
	display: flex;
	justify-content: center;
	border: none;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

/*gallery css */

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	background-color: orange;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
	max-width: 80%;
}

.gallery-image img {
	width: 100%;
}

.hideThis {
	display: none;
}

img {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}

/*location css*/

.text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.location-holder, .media-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

#location-head
{
	display: flex;
	justify-content: flex-start;	
	font-family: 'Caladea', sans-serif;
	font-size: 1.5em;
}










@media screen and (max-width: 555px){

body {
	background-color: white;
		
}
	}

main {
	width: 100%
}

img {
		align-items: center;
	width: 50%;
	}

@media screen and (max-width:800px){
	body{background-color: white;
	}
	main {
	width: 100%
}

img {
		align-items: center;
	width: 50%;
	}



