
body {
	background-color: #F6F9FA;
}

nav {
	background-color: #D8D7F9;
	max-width: 3000px;
	margin: auto;
	font-size:1.25em;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 1rem;
	background-color: #DEEAFA;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Caladea', serif;
	font-size:1.5em;
}

h2 {
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}

p {
	display: flex;
	justify-content: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}

p ul li a {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.5em;
}

footer {

	background-color: #D8D7F9;
	max-width: 3000px;
	font-size: 0.75em;
	margin-top: 20px;
}
	/*display: flex;
	background-color: #D8D7F9;
	max-width: 1000px;
	font-size: 0.75em;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
}*/

/*about me css*/

#top {
	font-size: 48px;
	font-family: 'Great Vibes', cursive;
}

.head-script {
	padding: 30px;
	padding-bottom: 1px;
	font-family: 'Redacted Script', cursive;
	font-size:1.5em;
}

.headshot {
	display: flex;
	justify-content: center;
	paddding: 10px;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

.recent-work {
	font-size: 30px;
	font-family: 'Great Vibes', cursive;
}

/*gallery css */

.button_holder {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	display: flex;
	justify-content: center;
	background-color: #BEC1FA;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
	display: flex;
	justify-content: center;
	max-height: 50%;
}

.gallery-example {
	margin-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
}

.hideThis {
	display: none;
}

img {
	display: flex;
	flex-direction: column;
	margin: 3rem;
}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}

/*location css*/

.text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.location-holder, .media-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

#location-head
{
	display: flex;
	justify-content: flex-start;	
	font-family: 'Caladea', sans-serif;
	font-size: 1.5em;
}

#location-para
{
	display: flex;
	justify-content: flex-start;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em; 
}

#location
{
	display: flex;
	justify-content: flex-start;	
	font-family: 'Caladea', sans-serif;
	font-size: 1.5em;
}

/*list css*/

.list-main{
	padding-left: 40px;
	padding-right: 40px;
}








@media screen and (max-width: 555px){

body {
	background-color: white;
		
}
	}

main {
	width: 100%
}

img {
		align-items: center;
	width: 50%;
	}

@media screen and (max-width:800px){
	body{background-color: white;
	}
	main {
	width: 100%
}

img {
		align-items: center;
	width: 50%;
	}



